# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# React build folder
/build

# Node dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local

# Static files (images, videos, etc.)
/staticfiles
/public/staticfiles
/public/uploads
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.zip
*.rar

# OS-specific
.DS_Store
Thumbs.db
